<h1>Education</h1>

<div class="edu">
  <div class = "mas">
    <div class="fill"></div>
    <div class="time">
      <h3>2011 - 2015<span></span> </h3>          
      <h5> SRM University </h5>
    </div>
    <div class="description">
            <p> Learning has always been my interest. But this is the place that my interest turned towards coding and found passion in doing it.
        Various courses that I took have helped me lean many new things. 
        Courses like Cryptography zealed my interest in understanding logics and findings ways of solving problems.
        The best things I learned was to understand thinks quickly. I was exposed to different tasks which helped me in moulding for a fast paced environment.
        I leaned many things and have been trying to make myslef even better. Everyday is a new challenge and a new day to lean things.
        I believe in the quote "You're given only a litte spark of madness. You mustn't lose it." -Robin Williams.
      </p>
    </div>
    <div style="overflow: auto"></div>
  </div>
<br> 
<div class = "bach">
  <div class="fill"></div>  
  <div class="time">
    <h3>2016 - 2017<span></span> </h3>    
    <h5> UNCC </h5>
  </div>
  <div class="description">
    <p> The master's program has given me the opportunity to test my skills and apply practical knowledge. 
        I did various projects which helped me understand the programming in a new perspective.                            
        I learned many new things and technologies. 
        The hands on experience while working on many projects gave me a chance to challange myself. 
        Subjects like Algorithms and data structures, Mobile Application development, Cloud Computing and Network based applications gave working experience on different technologies. 
        Working on various projects gave me the confidence to understand the probelem and come up with different solutions to tackle it.
      </p>
    </div>
    <div style="overflow: auto"></div>
  </div>
</div>
