<h1>About Me</h1>

<div class="aboutme">
  <div class="upper">
    <div class="biopic">
    </div>
    <div class="container">
      <div class="intro">
        <h1>Hi, i'm <span class = "name">Kaushal</span></h1>
        <p>Developer / Tech Enthusiast</p>
      </div>
      <div class="info">
        <h2>E-Mail</h2>
        <h2>LindedIn</h2>
        <h2>GitHub</h2>
      </div>
     <div>
  </div>
    </div>
    <div class="bottom">
      <p> <b>Hi, I am Kaushal and I'm interactive Developer and E-learner graduated with my Master's in Computer Science
        from The University of North Carolina at Charlotte.
        Ever since I was a kid I was very passionate about understanding various things and ways how they worked. 
        I always tried to understand complex problems and tried to solve them. 
        Having a positive attitude has helped me not to give up on any problem and be dedicated in finding the solution. 
        My interest has led me to take subjects like Cryptography, Algorithms and programming languages.
        Shortly there after I found myself solving problems with coding. 
        This gave me a passion to lean coding and sparked my interest in solving problems with code. 
        I constantly try to improve my skills and understand logics to get different ways of solving problems.
        You can have a look at some of works in GitHub. Have a look at my resume and you can contact me for any queries. </b></p>

        <p class="quote"><i>"When the body gets tired, mind says 'This is where winners are made.'
          When mind gets tired, my heart says 'This is where Champions are made.'" - Baylor Barbee</i></p>
    </div>