<h1>My Projects</h1>

<div class="projects">
	<div class="project">
		<div class="fill"></div>
		<div class="time">
			<h3>May 2017</h3>
		</div>
		<div class="desc">
			<h4>CagedSpace</h4>
			<p>CagedSpace is a system that allows the system to allow users to navigate through the system and 
				experience a unique and unified music experience.
			</p>
		</div>
	</div>
	<div class="project">
		<div class="fill"></div>
		<div class="time">
			<h3>January 2017</h3>
		</div>
		<div class="desc">
			<h4>FedEx Tracking Project</h4>
			<p>Created a java MVC web application and a background simulation framework to display tracking 
				information for the package delivery system of FedEx.
			</p>
		</div>
	</div>
	<div class="project">
		<div class="fill"></div>
		<div class="time">
			<h3>December 2016</h3>
		</div>
		<div class="desc">
			<h4>Movie Recommender System</h4>
			<p>Build a recommender system basing on tweaked Jaccard coefficient for better matching of similarity.
				Built the system in Hadoop and Spark and compared the outputs for similarities. 
				Used MovieLens Dataset for the project.
			</p>
		</div>
	</div>
	<div class="project">
		<div class="fill"></div>
		<div class="time">
			<h3>December 2016</h3>
		</div>
		<div class="desc">
			<h4>Complaint Portal Website</h4>
			<p>Created a complaint portal website with user functionalities and database. 
				The website was dynamic and secured against basic web attacks by using JSTL tags. 
				The database was also secured using hashing and salting functionalities.
			</p>
		</div>
	</div>	
	<div class="project">	
		<div class="fill"></div>
		<div class="time">
			<h3>November 2016</h3>
		</div>
		<div class="desc">
			<h4>PageRank implementation in Cloud using Hadoop and Spark</h4>
			<p>Calculated the PageRank of an input set of hyper-linked Wikipedia documents using Hadoop MapReduce and Spark.
				Also implemented a basic search engine which takes user-queries as input for processing.
			</p>
		</div>
	</div>
	<div class="project">
			<div class="fill"></div>
		<div class="time">
			<h3>September 2016</h3>
		</div>
		<div class="desc">
			<h4>Weighted Term Frequency</h4>
			<p>Implemented a term frequency count for large data processing and score using inverse document frequency. 
				Implemented in Cloud technologies using Hadoop.</p>
		</div>
	</div>	
	<div class="project">
		<div class="fill"></div>
		<div class="time">
			<h3>June 2016</h3>
		</div>
		<div class="desc">
			<h4>Database Management System for College Admittion portal</h4>
			<p>Created a Admittion portal website which records data of student applying for the University.
				DataBase was designed to be in Third Normal Form.
			</p>
		</div>
	</div>	
	<div class="project">
		<div class="fill"></div>
		<div class="time">
			<h3>May 2016</h3>
		</div>
		<div class="desc">
			<h4>Android Mobile application development</h4>
			<p>Developed various small mobile apps under the course Mobile Application Development 
				and gained an in-depth knowledge on working of android studio. 
				The various application with various functionalities were built in short-time.</p>
		</div>
	</div>
	<div class="project">
		<div class="fill"></div>
		<div class="time">
			<h3>March 2016</h3>
		</div>
		<div class="desc">
			<h4>LZW compression algorithm</h4>
			<p>Implemented a lossless and adaptive compression algorithm which has no prior knowledge of input data distribution.</p>
		</div>
	</div>
</div>

<!-- Project Skeleton -->
<!-- <div class="project">
		<div class="fill"></div>
		<div class="time">
			<h3></h3>
		</div>
		<div class="desc">
			<h4></h4>
			<p></p>
		</div>
	</div> -->
